.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 5rem;
}

.square {
  box-shadow: 0px 3px 16px rgba(47, 83, 109, 0.12);
  border-radius: 20px;
  padding: 1rem;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
}

.squareContent {
  text-align: center;
}

.imageContainer {
  background-color: white;
  margin-bottom: 10px;
  height: 20rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: calc(20px - 1rem);
}

.examCode {
  margin-top: 10px;
  font-weight: bold;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.buttons {
  grid-column: span 4;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.editPage .squareContent {
  background-color: #f8f9fa;
}

.selected {
  border-color: blue;
}

.unselected {
  border-color: black;
}