@media (max-width: 800px) {
    .tableContainer table:nth-child(1) {
        width: 200%;
    }

    .tableContainer {
        margin-top: 20px;
    }

    .btnCreate {
        font-size: 12px !important;
        padding: 5px 10px !important;
    }

    .btnAction {
        flex-direction: column;
    }

    .btnAction button {
        padding: 7px 10px
    }

}


.btnAction {
    display: flex;
    gap: 20px;
}

.buttonContainer {
    text-align: end;
}

.btnCreate {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 14px 20px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.8px;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: var(--linear);
    color: black;
}

.btnCreate:hover {
    border: none !important;
}

.btnCreate span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.btnCreate:hover span {
    color: whitesmoke;
}

.btnCreate:focus {
    color: whitesmoke;
}

.btnCreate::before,
.btnCreate::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.btnCreate::before {
    content: "";
    background: #fff;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.btnCreate:hover::before {
    transform: translate3d(100%, 0, 0);
}

.blurContainer {
    background: url('../../assets/images/backgroundTable/table.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}