.roundTableResponse li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    gap: 10px;
    font-size: 13px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.roundTableResponse .roundHeader {
    background: var(--linear);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.roundTableResponse .tableRow {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.roundTableResponse .col:nth-child(1) {
    flex-basis: 12.5%;
}

.roundTableResponse .col:nth-child(2) {
    flex-basis: 12.5%;
}

.roundTableResponse .col:nth-child(3) {
    flex-basis: 12.5%;
}

.roundTableResponse .col:nth-child(4) {
    flex-basis: 12.5%;
}

.roundTableResponse .col:nth-child(5) {
    flex-basis: 12.5%;
    position: relative;

}

.roundTableResponse .col:nth-child(6) {
    flex-basis: 12.5%;
    position: relative;
}

.roundTableResponse .col:nth-child(7) {
    flex-basis: 12.5%;
    text-align: center;
}

.roundTableResponse .col:nth-child(8) {
    flex-basis: 12.5%;
    text-align: center;
}

.roundTableResponse .col button:hover {
    border: none;
}

.roundTableResponse .col button:focus {
    border: none;
}

.roundHeader .col {
    color: #ffffff;
    font-weight: bold;
}

.roundTableResponse .col:nth-child(6):hover>.tooltip {
    display: block;
}

.roundTableResponse .col:nth-child(5):hover>.tooltip {
    display: block;
}


.tooltip {
    height: auto;
    width: 40rem;
    font-size: 10px;
    display: none;
    position: absolute;
    bottom: 60%;
    right: 0;
    transform: translate(0, -1rem);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    word-break: break-word;

    background-color: #ffffff;
    border-radius: 0.625rem;
    padding: 2rem;
    animation: fadeIn 0.8s ease 0s 1 normal forwards;
}

@media all and (max-width: 767px) {
    .roundTableResponse .roundHeader {
        display: none;
    }

    .roundTableResponse .tableRow {
        display: block;
    }

    .roundTableResponse li {
        display: block;
    }

    .roundTableResponse .col {
        flex-basis: 100%;
        display: flex;
        padding: 10px 0;
    }

    .roundTableResponse .col:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}